body{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 50vh;
	background-image: url("bg.jpg");
	background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url(bg.jpg);
	
}

.mainPageCalc{
	display: flex;
	flex-direction: row;
}

.form_title{
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 150px 10px 42px 10px;
	font-weight: bold;
	font: 30px "Fira Sans", sans-serif;
}

.spanHotCoolant{
	display: inline-flex;
    border: solid;
	border-color: rgb(255, 87, 87);
	background-color: rgb(255, 87, 87);
	width: 260px;
	padding: 8px;
	border-radius: 10px;
	font: 20px "Fira Sans", sans-serif;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.spanColdCoolant{
	display: inline-flex;
    border: solid;
	border-color: rgb(72, 69, 255);
	background-color: rgb(72, 69, 255);
	width: 260px;
	padding: 8px;
	border-radius: 10px;
	font: 20px "Fira Sans", sans-serif;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.inputMainArea{
	display: flex;
  	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.form_input {
	display: flex;
	flex-direction: row;
	width: 260px;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	/* margin-bottom: 10px; */
	border-radius: 8px;
	transition: 0.3s;
}
.selectTypeHotCoolant{
	display: flex;
	border-radius: 8px;
	width: 100%;
	padding: 5px;
	justify-content: center;
}

.selectTypeColdCoolant{
	display: flex;
	border-radius: 8px;
	width: 100%;
	padding: 5px;
}

.form_table{
	display: none;
  	flex-direction: row;
  	width: 100%;
	justify-content: center;
	border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 3px 4px #186b1f;
	margin-bottom: 20px;
}

.calcheatexBtn {
	display: flex;
  	align-items: center;
	justify-content: center;
	border: solid;
	border-color: #56ff64;
	background-color: #56ff64;
	border-radius: 8px;
	transition: 0.3s;
	margin-bottom: 10px;
	width: 240px;
	padding: 10px;
	font: 20px "Fira Sans", sans-serif;
	margin: 0 auto;
}
.calcheatexBtn:hover {
	background-color: #4ab453;
	border-color: #4ab453;;
	color: #000;
}

