body{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("background.jpg");
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(background.jpg);
    background-size: 110%;
}


.mainPageCalc{
	display:block;
	justify-content: center;
	align-items: center;
}

.form_title{
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 80px 10px 40px 10px;
	font-weight: bold;
	font-family: "Manrope", "Roboto", sans-serif;
	font-size: 35px;
}

.spanHotCoolant{
	display: inline-flex;
    border: solid;
	font-family: "Manrope", "Roboto", sans-serif;
    font-size: 20px;
	border-color: #c10831;
	background-color: #c10831;
	width: 260px;
	padding: 8px;
	border-radius: 10px;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.spanColdCoolant{
	display: inline-flex;
    border: solid;
	font-family: "Manrope", "Roboto", sans-serif;
    font-size: 20px;
	border-color: #004077;
	background-color: #004077;
	width: 260px;
	padding: 8px;
	border-radius: 10px;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.inputMainArea{
	display: flex;
  	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.inputAreaCenter{
	display: flex;
	padding: 30px;
}

.form_input {
	display: flex;
	flex-direction: row;
	font-family: "Manrope", "Roboto", sans-serif;
	width: 260px;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	border-radius: 8px;
	transition: 0.3s;
}
.selectTypeHotCoolant{
	display: flex;
	font-family: "Manrope", "Roboto", sans-serif;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	justify-content: center;
}
.selectTypeColdCoolant{
	display: flex;
	font-family: "Manrope", "Roboto", sans-serif;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	justify-content: center
}
.inputHumidity{
	display: flex;
	font-family: "Manrope", "Roboto", sans-serif;
	border-radius: 8px;
	width: 260px;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	justify-content: center;
}
.form_table{
	display: none;
  	flex-direction: row;
	font-family: "Cambria", sans-serif;
  	width: 100%;
	border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0px 3px #666666;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: aliceblue;
}
.tableData{
	display: flex;
  	align-items: center;
	justify-content: center;
}

.calcheatexBtn {
	display: flex;
  	align-items: center;
	justify-content: center;
	border: solid;
	border-color: #4b8c61;
	background-color: #4b8c61;
	border-radius: 8px;
	transition: 0.3s;
	width: 240px;
	padding: 10px;
	font-family: "Manrope", "Roboto", sans-serif;
	font-size: 20px;
	margin: 0 auto;
}
.calcheatexBtn:hover {
	background-color: #376446;
	border-color: #376446;;
	color: #ffffff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Manrope", "Roboto", sans-serif;
}

.navbar {
    background-color: #2c3e50;
    padding: 10px 0px;
    width: 100%;
}

.navbar-home {
    fill: #ffffff;
    text-decoration: none;
	padding: 4px 4px;
	transition: background-color 0.3s ease;
	display: flex;
}

.navbar-home:hover {
    background-color: #34495e;
    border-radius: 4px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
	text-align: center;
}

.nav-item {
    position: relative;
    margin-right: 15px;
}

.navbar-profile {
    fill: #ffffff;
    text-decoration: none;
	padding: 4px 4px;
	transition: background-color 0.3s ease;
	display: block;
}
.navbar-profile:hover {
    background-color: #34495e;
    border-radius: 4px;
}

.navbar-info {
    fill: #ffffff;
    text-decoration: none;
	padding: 4px 4px;
	transition: background-color 0.3s ease;
	display: block;
}

.navbar-info:hover {
    background-color: #34495e;
    border-radius: 4px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2c3e50;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


