body{
	/* overflow-y: scroll; */
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	/* height: 50vw;
	width: 100vw; */
	background-image: url("background.jpg");
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(background.jpg);
	background-size: 110%;
}

.mainPageCalc{
	display: flex;
	flex-direction: row;
}

.form_title{
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 80px 10px 40px 10px;
	font-weight: bold;
	font-family: "Manrope", "Roboto", sans-serif;
	font-size: 35px;
}

.spanHotCoolant{
	display: inline-flex;
    border: solid;
	font-family: "Manrope", "Roboto", sans-serif;
    font-size: 20px;
	border-color: #c10831;
	background-color: #c10831;
	width: 260px;
	padding: 8px;
	border-radius: 10px;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.spanColdCoolant{
	display: inline-flex;
    border: solid;
	font-family: "Manrope", "Roboto", sans-serif;
    font-size: 20px;
	border-color: #004077;
	background-color: #004077;
	width: 260px;
	padding: 8px;
	border-radius: 10px;
	justify-content: center;
	color: rgb(255, 255, 255);
}

.inputMainArea{
	display: flex;
  	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.inputAreaCenter{
	display: flex;
	padding: 30px;
}

.form_input {
	display: flex;
	flex-direction: row;
	font-family: "Manrope", "Roboto", sans-serif;
	width: 260px;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	border-radius: 8px;
	transition: 0.3s;
}
.selectTypeHotCoolant{
	display: flex;
	font-family: "Manrope", "Roboto", sans-serif;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	justify-content: center;
}
.selectTypeColdCoolant{
	display: flex;
	font-family: "Manrope", "Roboto", sans-serif;
	border-radius: 8px;
	width: 100%;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	justify-content: center
}
.inputHumidity{
	display: flex;
	font-family: "Manrope", "Roboto", sans-serif;
	border-radius: 8px;
	width: 260px;
	padding: 10px;
	border: 2px solid rgb(163, 163, 163);
	justify-content: center;
}
.form_table{
	display: none;
  	flex-direction: row;
	font-family: "Cambria", sans-serif;
  	width: 100%;
	border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0px 3px #666666;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: aliceblue;
}
.tableData{
	display: flex;
  	align-items: center;
	justify-content: center;
}

.calcheatexBtn {
	display: flex;
  	align-items: center;
	justify-content: center;
	border: solid;
	border-color: #4b8c61;
	background-color: #4b8c61;
	border-radius: 8px;
	transition: 0.3s;
	width: 240px;
	padding: 10px;
	font-family: "Manrope", "Roboto", sans-serif;
	font-size: 20px;
	margin: 0 auto;
}
.calcheatexBtn:hover {
	background-color: #376446;
	border-color: #376446;;
	color: #ffffff;
}

