<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчет пластинчатого теплообменника</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="shortcut icon" href="static/icon.ico" />
    {% load static %}
</head>
<body>
    {% csrf_token %}
    <div class="mainPageCalc">
        <form name = 'calcheatex'>
            <nav class="navbar">
                <div class="container">
                    <a class="navbar-home" href="{% url 'base' %}">
                        <svg class="navbar-home" height="38px" width="38px"
                            preserveAspectRatio="xMidYMid" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                            <path class="navbar-home" d="M434.162,293.382V493.862H308.321V368.583H203.682V493.862H77.841V293.382L256,153.862Z"/>
                            <path class="navbar-home" d="M0,242.682L256,38.93L512,242.682L482.21,285.764L256,105.722L29.79,285.764Z"/>
                            <path class="navbar-home" d="M439.853,18.138V148.538L376.573,98.138V18.138Z"/>
                        </svg>
                    </a>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown ">
                                <a class="navbar-info" href="{% url 'base' %}" role="button">
                                    <svg class="navbar-info" xmlns="http://www.w3.org/2000/svg" width="38px" height="38px" 
                                    preserveAspectRatio="xMidYMid" viewBox="0 0 24 24">
                                        <path class="navbar-info" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001
                                        5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001
                                        12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0
                                        .535.517.558 1 .735v.999z"/>
                                    </svg>
                                </a>
                            </li>
                            {% if not user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="navbar-profile" href="{% url 'user:login' %}">
                                        <svg class="navbar-profile" height="38px" width="38px"
                                            preserveAspectRatio="xMidYMid" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                                            <path class="navbar-profile" d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765
                                            S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53
                                            c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012
                                            c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592
                                            c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"/>
                                        </svg>
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="navbar-profile" href="{% url 'user:login' %}" role="button">
                                            <svg class="navbar-profile" height="38px" width="38px"
                                            preserveAspectRatio="xMidYMid" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg">
                                            <path class="navbar-profile" d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765
                                            S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53
                                            c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012
                                            c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592
                                            c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"/>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'user:profile' %}">Личный кабинет</a>
                                        </li>
                                        {% if user.is_admin or user.is_staff %}
                                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Админ панель</a></li>
                                        {% endif %}
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'user:logout' %}">Выйти</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                </div>
            </nav>
            <h1 class = "form_title">Расчет пластинчатого теплообменника</h1>
            <div class="inputMainArea">
                <div class = 'inputHotArea'>
                    <span class="spanHotCoolant">Горячий теплоноситель</span>
                    <p><input name="tempHotIn" type="text" class="form_input" placeholder="t1 на входе, °C"></p>
                    <p><input name="tempHotOut" type="text" class="form_input" placeholder="t1 на выходе, °C"></p>
                    <p><input name="flowHot" type="text" class="form_input" placeholder="Расход горячего теплоносителя, м³/ч"></p>
                    <p><input name="pressureHot" type="text" class="form_input" placeholder="Давление горячего теплоносителя, Па"></p>
                    <p>
                        <select name="selectTypeHotCoolant" id="selectTypeHotCoolant" class="selectTypeHotCoolant" onchange="toggleInputHumidity()">
                            <option value="Water">Вода</option>
                            <option value="Air">Воздух</option>
                            <option value="humidAir">Влажный воздух</option>
                            <option value="Ethylene">Этилен</option>
                            <option value="Propylene">Пропилен</option>
                        </select>
                    </p>
                    <div id="inputHotHumidity" style="display: none">
                        <input type="text" name="hotHumidity" id="inputHumidity" class="inputHumidity" placeholder="Относительная влажность, %">
                    </div>
                </div>
                <div class="inputAreaCenter">
                    <img src="static/tmpu.png" alt="" width="300" height="300">
                </div>
                <div class='inputColdArea'>
                    <span class="spanColdCoolant">Холодный теплоноситель</span>
                    <p><input name="tempColdIn" type="text" class="form_input" placeholder="t2 на входе, °C"></p>
                    <p><input name="tempColdOut" type="text" class="form_input" placeholder="t2 на выходе, °C"></p>
                    <p><input name="flowCold" type="text" class="form_input" placeholder="Расход холодного теплоносителя, м³/ч"></p>
                    <p><input name="pressureCold" type="text" class="form_input" placeholder="Давление холодного теплоносителя, Па"></p>
                    <p>
                        <select name="selectTypeColdCoolant" id="selectTypeColdCoolant" class="selectTypeColdCoolant" onchange="toggleInputHumidity()">
                            <option value="Water">Вода</option>
                            <option value="Air">Воздух</option>
                            <option value="humidAir">Влажный воздух</option>
                            <option value="Ethylene">Этилен</option>
                            <option value="Propylene">Пропилен</option>
                        </select>
                    </p>
                    <div id="inputColdHumidity" style="display: none">
                        <input type="text" name="coldHumidity" id="inputHumidity" class="inputHumidity" placeholder="Относительная влажность, %">
                    </div>
                </div>
            </div>
            <p><button class='calcheatexBtn' type='submit' name='calcheatexBtn'>Рассчитать</button></p>
            <table class='form_table' id="form_table">
                <tr>
                    <th><h3>Горячий теплоноситель</h3></th>
                    <th><h3>Холодный теплоноситель</h3></th>
                </tr>
                <tr>
                    <td><h3 class ='tableData' id ='densityHotCoolant'></h3></td>
                    <td><h3 class ='tableData' id ='densityColdCoolant'></h3></td>
                </tr>
                <tr>
                    <td><h3 class ='tableData' id ='dynamicViscosityHotCoolant'></h3></td>
                    <td><h3 class ='tableData' id ='dynamicViscosityColdCoolant'></h3></td>
                </tr>
                <tr>
                    <td><h3 class ='tableData' id ='kinematicViscosityHotCoolant'></h3></td>
                    <td><h3 class ='tableData' id ='kinematicViscosityColdCoolant'></h3></td>
                </tr>
                <tr>
                    <td><h3 class ='tableData' id ='prandtlHotCoolant'></h3></td>
                    <td><h3 class ='tableData' id ='prandtlColdCoolant'></h3></td>
                </tr>
                <tr>
                    <td><h3 class ='tableData' id ='conductivityHotCoolant'></h3></td>
                    <td><h3 class ='tableData' id ='conductivityColdCoolant'></h3></td>
                </tr>
                <tr>
                    <td><h3 class ='tableData' id ='heatCapacityHotCoolant'></h3></td>
                    <td><h3 class ='tableData' id ='heatCapacityColdCoolant'></h3></td>
                </tr>
                <tr>
                    <td><h3 class ='tableData' id ='thermDiffusivityHotCoolant'></h3></td>
                    <td><h3 class ='tableData' id ='thermDiffusivityColdCoolant'></h3></td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        document.forms.calcheatex.onsubmit = function(event){
            event.preventDefault();
            
            let csrf_token = document.forms.calcheatex.csrfmiddlewaretoken.value;

            let userTempHotIn = document.forms.calcheatex.tempHotIn.value;
            let userTempHotOut = document.forms.calcheatex.tempHotOut.value;
            let userFlowHot = document.forms.calcheatex.flowHot.value;
            let userPressureHot = document.forms.calcheatex.pressureHot.value;
            let userHotHumidity = document.forms.calcheatex.hotHumidity.value;

            let userTempColdIn = document.forms.calcheatex.tempColdIn.value;
            let userTempColdOut = document.forms.calcheatex.tempColdOut.value;
            let userFlowCold = document.forms.calcheatex.flowCold.value;
            let userPressureCold = document.forms.calcheatex.pressureCold.value;
            let userColdHumidity = document.forms.calcheatex.coldHumidity.value;

            let userSelectTypeColdCoolant = document.forms.calcheatex.selectTypeColdCoolant.value;
            let userSelectTypeHotCoolant = document.forms.calcheatex.selectTypeHotCoolant.value;

            let xhr = new XMLHttpRequest();

            xhr.open('POST', '/calculation');

            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            xhr.onreadystatechange = function(){
                
                if(xhr.readyState === 4 && xhr.status === 200){
                    let resultObjParse = JSON.parse(xhr.responseText);
                    let coolantProps = resultObjParse.propertiesCoolants;

                    densityHotCoolant.textContent = 'ρ, кг/м³ = '
                    + coolantProps.densityHotCoolant;
                    dynamicViscosityHotCoolant.textContent = 'μ, Па⋅с = ' 
                    + coolantProps.dynamicViscosityHotCoolant;
                    kinematicViscosityHotCoolant.textContent = 'ν, м²/с = ' 
                    + coolantProps.kinematicViscosityHotCoolant;
                    prandtlHotCoolant.textContent = 'Pr = ' 
                    + coolantProps.prandtlHotCoolant;
                    conductivityHotCoolant.textContent = 'λ, Вт/(м⋅К) = ' 
                    + coolantProps.conductivityHotCoolant;
                    heatCapacityHotCoolant.textContent = 'Cp, Дж/(кг⋅К) = ' 
                    + coolantProps.heatCapacityHotCoolant;
                    thermDiffusivityHotCoolant.textContent = 'a, м²/с = ' 
                    + coolantProps.thermDiffusivityHotCoolant;

                    densityColdCoolant.textContent = 'ρ, кг/м³ = ' 
                    + coolantProps.densityColdCoolant;
                    dynamicViscosityColdCoolant.textContent = 'μ, Па⋅с = ' 
                    + coolantProps.dynamicViscosityColdCoolant;
                    kinematicViscosityColdCoolant.textContent = 'ν, м²/с = ' 
                    + coolantProps.kinematicViscosityColdCoolant;
                    prandtlColdCoolant.textContent = 'Pr = ' 
                    + coolantProps.prandtlColdCoolant;
                    conductivityColdCoolant.textContent = 'λ, Вт/(м⋅К) = ' 
                    + coolantProps.conductivityColdCoolant;
                    heatCapacityColdCoolant.textContent = 'Cp, Дж/(кг⋅К) = ' 
                    + coolantProps.heatCapacityColdCoolant;
                    thermDiffusivityColdCoolant.textContent = 'a, м²/с = ' 
                    + coolantProps.thermDiffusivityColdCoolant;
                    
                    // if (resultObjParse.densityColdCoolant) {
                    //     densityColdCoolant.textContent = 'Свойства теплоносителей = ' + resultObjParse.densityColdCoolant;
                    // }

                
                    if (resultObjParse) {
                    document.getElementById("form_table").style.display = "table"; // Отобразить таблицу
                    } else {
                    document.getElementById("form_table").style.display = "none"; // Скрыть таблицу
                    }
                }
            }
            
            let body = 
                '&tempHotIn=' + encodeURIComponent(userTempHotIn) +
                '&tempHotOut=' + encodeURIComponent(userTempHotOut)+
                '&flowHot=' + encodeURIComponent(userFlowHot)+
                '&pressureHot=' + encodeURIComponent(userPressureHot)+
                '&hotHumidity=' + encodeURIComponent(userHotHumidity)+

                '&tempColdIn=' + encodeURIComponent(userTempColdIn) +
                '&tempColdOut=' + encodeURIComponent(userTempColdOut)+
                '&flowCold=' + encodeURIComponent(userFlowCold)+
                '&pressureCold=' + encodeURIComponent(userPressureCold)+
                '&coldHumidity=' + encodeURIComponent(userColdHumidity)+

                '&selectTypeColdCoolant=' + encodeURIComponent(userSelectTypeColdCoolant)+
                '&selectTypeHotCoolant=' + encodeURIComponent(userSelectTypeHotCoolant)+

                '&csrfmiddlewaretoken=' + encodeURIComponent(csrf_token);

            xhr.send(body);
        }
        function toggleInputHumidity() {
            const selectColdElement = document.getElementById('selectTypeColdCoolant');
            const inputColdHumidity = document.getElementById('inputColdHumidity');
            const selectHotElement = document.getElementById('selectTypeHotCoolant');
            const inputHotHumidity = document.getElementById('inputHotHumidity');
            
            if (selectColdElement.value === 'humidAir') {
                inputColdHumidity.style.display = 'block'; // Показываем поле input
            } else {
                inputColdHumidity.style.display = 'none'; // Скрываем поле input
            }
            if (selectHotElement.value === 'humidAir') {
                inputHotHumidity.style.display = 'block'; // Показываем поле input
            } else {
                inputHotHumidity.style.display = 'none'; // Скрываем поле input
            }
        }
    </script>
</body>
</html>