<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчет пластинчатого теплообменника</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    {% load static %}
</head>
<body>
    <div class="mainPageCalc">
        <form name = 'calcheatex'>
            <h1 class = "form_title">Расчет пластинчатого теплообменника</h1>
            {% csrf_token %}
            <div class="inputMainArea">
                <div class = 'inputHotArea'>
                    <span>Горячий теплоноситель</span>
                    <p><input name="tempHotIn" type="text" class="form_input" placeholder="t1 на входе, °C"></p>
                    <p><input name="tempHotOut" type="text" class="form_input" placeholder="t1 на выходе, °C"></p>
                    <p><input name="flowHot" type="text" class="form_input" placeholder="Расход горячего теплоносителя, м3/ч"></p>
                    <p><input name="pressureHot" type="text" class="form_input" placeholder="Давление горячего теплоносителя, бар"></p>
                    <p>
                        <select name="selectTypeHotCoolant" >
                            <option value="wetAir">
                                Влажный воздух
                            </option>
                        </select>
                    </p>
                </div>
                <div class="inputAreaCenter">
                    <img src="static/teplo_calc_center.jpg" alt="" width="240" height="200">
                </div>
                <div class='inputColdArea'>
                    <span>Холодный теплоноситель</span>
                    <p><input name="tempColdIn" type="text" class="form_input" placeholder="t2 на входе, °C"></p>
                    <p><input name="tempColdOut" type="text" class="form_input" placeholder="t2 на выходе, °C"></p>
                    <p><input name="flowCold" type="text" class="form_input" placeholder="Расход холодного теплоносителя, м3/ч"></p>
                    <p><input name="pressureCold" type="text" class="form_input" placeholder="Давление холодного теплоносителя, бар"></p>
                    <p>
                        <select name="selectTypeColdCoolant" id="">
                            <option value="dryAir">
                                Сухой воздух
                            </option>
                        </select>
                    </p>
                </div>
            </div>
            <p><button class='calcheatexBtn' type='submit' name='calcheatexBtn'>Рассчитать</button></p>
            <table class='form_table' id='form_table'>
                <tr>
                    <td>
                        <h3 id ='resultDensityHotCoolant'></h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 id ='resultPartialPressure'></h3>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- <div id="table-container"></div> -->
    <script>
        // function createTable(resultObjParse) {
        // let tableContainer = document.getElementById('table-container');
        // let table = document.createElement('table');

        // // Создание заголовков таблицы
        // let headerRow = table.insertRow();
        // for (let key in resultObjParse[0]) {
        //     let headerCell = headerRow.insertCell();
        //     headerCell.textContent = key;
        // }

        // Создание строк и ячеек таблицы
        // resultObjParse.forEach(item => {
        // let row = table.insertRow();
        // for (let key in item) {
        //     let cell = row.insertCell();
        //     cell.textContent = item[key];
        //     }
        // });
        // tableContainer.appendChild(table);
        // // Вызов функции для создания таблицы после получения данных 
        // }
        document.forms.calcheatex.onsubmit = function(event){
            event.preventDefault();
            
            var csrf_token = document.forms.calcheatex.csrfmiddlewaretoken.value;

            // var userThermConductivity = document.forms.calcheatex.thermConductivity.value;
            // var userSubstanceDensity = document.forms.calcheatex.substanceDensity.value;
            // var userHeatCapacity = document.forms.calcheatex.heatCapacity.value;
            // var userInputTemperature = document.forms.calcheatex.inputTemperature.value;
            var userTempHotIn = document.forms.calcheatex.tempHotIn.value;
            var userTempHotOut = document.forms.calcheatex.tempHotOut.value;
            var userFlowHot = document.forms.calcheatex.flowHot.value;
            var userPressureHot = document.forms.calcheatex.pressureHot.value;

            var userTempColdIn = document.forms.calcheatex.tempColdIn.value;
            var userTempColdOut = document.forms.calcheatex.tempColdOut.value;
            var userFlowCold = document.forms.calcheatex.flowCold.value;
            var userPressureCold = document.forms.calcheatex.pressureCold.value;

            var userWetAir = document.forms.calcheatex.wetAir;
            var userDryAir = document.forms.calcheatex.dryAir;

            var xhr = new XMLHttpRequest();

            xhr.open('POST', '/calculation');

            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            xhr.onreadystatechange = function(){
                
                
                if(xhr.readyState === 4 && xhr.status === 200){
                    
                    // var resultThermDiffusivity = document.querySelector('#resultThermDiffusivity');
                    // var resultPartialPressure = document.querySelector('#resultPartialPressure');
                    var resultDensityHotCoolant = document.querySelector('#resultDensityHotCoolant');
                    var resultObjParse = JSON.parse(xhr.responseText);
                    
                    resultDensityHotCoolant.textContent = 'Плотность горячего теплоносителя = ' 
                    + resultObjParse.resultDensityHotCoolant;

                    // resultThermDiffusivity.textContent = 'Температуропроводность = ' 
                    // + resultObjParse.resultThermDiffusivity;

                    // resultPartialPressure.textContent = 'Парциальное давление = ' 
                    // + resultObjParse.resultPartialPressure;

                    if (resultObjParse) {
                    document.getElementById("form_table").style.display = "table"; // Отобразить таблицу
                    } else {
                    document.getElementById("form_table").style.display = "none"; // Скрыть таблицу
                    }
                }
            }
            
            var body = 
                // 'thermConductivity=' + encodeURIComponent(userThermConductivity) +
                // '&substanceDensity=' + encodeURIComponent(userSubstanceDensity)+
                // '&heatCapacity=' + encodeURIComponent(userHeatCapacity)+
                // '&inputTemperature=' + encodeURIComponent(userInputTemperature)+
                '&tempHotIn=' + encodeURIComponent(userTempHotIn) +
                '&tempHotOut=' + encodeURIComponent(userTempHotOut)+
                '&flowHot=' + encodeURIComponent(userFlowHot)+
                '&pressureHot=' + encodeURIComponent(userPressureHot)+

                '&tempColdIn=' + encodeURIComponent(userTempColdIn) +
                '&tempColdOut=' + encodeURIComponent(userTempColdOut)+
                '&flowCold=' + encodeURIComponent(userFlowCold)+
                '&pressureCold=' + encodeURIComponent(userPressureCold)+

                '&wetAir=' + encodeURIComponent(userWetAir)+
                '&dryAir=' + encodeURIComponent(userDryAir)+

                '&csrfmiddlewaretoken=' + encodeURIComponent(csrf_token);

            xhr.send(body);
            // createTable(resultObjParse);
        }
    </script>
</body>
</html>